.footer-div {
    height: 50px;
    font-size: 20px;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: 2fr 1.2fr;
    justify-content: center;
    align-items: center;


    background-color: #202030;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.footer-div p
{
    color: #e0e0ff;
    text-align: center;
    transition: all 0.3s ease;
}

.footer-visitor-div {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.footer-visitor-div img {
    transition: all 0.3s ease;
}


@media (max-width:980px) {
    .footer-div {
        font-size: 20px;
        grid-template-columns: 1.7fr 2fr;
    }
    .footer-visitor-div p {
        font-size: 1.3rem;
    }
}

@media (max-width:700px) {
    .footer-div {
        font-size: 20px;
        grid-template-columns: 1.7fr 2fr;
    }
    .footer-visitor-div p {
        font-size: 1.1rem;
    }
}

@media (max-width:600px) {
        .footer-div {
            font-size: 16px;
            grid-template-columns: 1.1fr 2fr;
        }
        .footer-visitor-div p {
            font-size: 1rem;
        }
}

@media (max-width:400px) {
    .footer-div {
        font-size: 14px;
        grid-template-columns: 1fr 2fr;
    }
    .footer-visitor-div p {
        font-size: 0.7rem;
    }
}

@media (max-width:370px) {
    .footer-div {
        font-size: 10px;
        grid-template-columns: 0.6fr 2fr;
    }
    .footer-visitor-div p {
        font-size: 0.6rem;
    }
}

@media (max-width:340px) {
    .footer-div {
        font-size: 8px;
        grid-template-columns: 0.6fr 2fr;
    }
    .footer-visitor-div p {
        font-size: 0.6rem;
    }
}

@media (max-width:325px) {
    .footer-div {
        font-size: 5px;
        grid-template-columns: 0.3fr 2fr;
    }
    .footer-visitor-div p {
        font-size: 0.6rem;
    }
}