    .project-entry-main {
        grid-template-columns: 2fr 1fr;
    }
    .project-entry-image {
        margin: auto;
    }
    .project-entry-text p {
        font-size: 1.5em;
    }

@media (max-width:1200px) {
    .project-entry-main {
        grid-template-columns: 1.6fr 1fr;
    }
    .project-entry-image {
        margin: auto;
    }
    .project-entry-text p {
        font-size: 1.2em;
    }
}

@media (max-width:1000px) {
    .project-entry-main {
        grid-template-columns: 1.6fr 1fr;
    }
    .project-entry-image {
        margin: auto;
    }
    .project-entry-text p {
        font-size: 1em;
    }
}

@media (max-width:800px) {
    .project-entry-main {
        grid-template-columns: 1fr;
        justify-content: space-between;
    }

    .project-entry-image {
        margin: auto;
        margin-top: 30px;
    }

    .project-entry-text p {
        font-size: 1em;
    }
}



.project-entry-main {
    display: grid;

    justify-content: space-between;

    width: 90%;
    padding: 10px;
    margin: auto auto 50px;

    border-radius: 15px;
    box-shadow: 0 0 8px 3px #c0c0ff;
}

.project-entry-text {
    display: block;
    width: 100%;
}

.project-entry-text h2 {
    display: block;
    font-size: 2em;
    color: #e0e0ff;
    margin-bottom: 20px;
}

.project-entry-text p {
    text-align: left;
    width: 92%;
    transition: all 0.3s ease;
}

.project-entry-image {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px #e0e0ff;
}