.mainDiv {
    margin: auto;
    width: 85%;
}

.main-title {
    display: grid;
    grid-template-columns: 1.4fr 0.4fr;
}

.contact-text {
    font-size: 1.8rem;
}

.pfp {
    border-radius: 50%;
    width: 150px;
    margin: 10px;
    float: right;
}

h1 {
    display: block;
    margin: auto;
    text-align: center;
    transition: all 0.3s ease;
}

h2  {
    padding-top: 20px;
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 5/6) {
    .contact-text {
        font-size: 1.4rem;
    }
    h1 {
        font-size: 2.2em;
    }
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 5/7) {
    .contact-text {
        font-size: 1.1rem;
    }
    h1 {
        font-size: 2em;
    }
}