/* Maximum aspect ratio */
@media (max-aspect-ratio: 5/8) {
    .topbar-div {
        font-size: 16px;
    }

    .topbar-list li {
        margin: 2px 5px 2px 5px;
    }

    .link-selected a, .link-normal a {
        padding: 5px;
    }
}

/* Maximum aspect ratio */
@media (max-aspect-ratio: 5/13) {
    .topbar-div {
        font-size: 12px;
    }

    .topbar-list li {
        margin: 2px 5px 2px 5px;
    }

    .link-selected a, .link-normal a {
        padding: 2px;
    }
}

/* Minimum aspect ratio */
@media (min-aspect-ratio: 5/8) {
    .topbar-div {
        font-size: 24px;
    }

    .topbar-list li {
        margin: 6px;
    }

    .link-selected a, .link-normal a {
        padding: 10px;
    }
}


.topbar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202030;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
}

.topbar-list {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    align-items: center;
    align-content: center;
}

.topbar-list li {
    display: inline-block;
    text-decoration: none;
    padding: 0px;
    transition: 0.3s;
    text-align: center;

    border-radius: 10px;
    box-shadow: 0 0 2px 2px #e0e0ff;
}

.link-selected {
    background-color: #303050;
}

.link-normal {
    background-color: #101020;
}

.link-selected a {
    color: #e0e0ff;
    font-weight: bolder;
}

.link-normal a {
    color: #ccccff;
}

.link-selected a, .link-normal a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.link-normal:hover {
    background-color: #505080;
}

.link-normal:hover a {
    color: #F7F7ff;
}